.selectInput, .textAreaInput{
  background-color: #DAD7CD;
  border: 2px solid #939189;
}

.selectInput:focus, .textAreaInput:focus{
  outline: none !important;
  border:2px solid #A3B18A;
  box-shadow: 0 0 10px #A3B18A;
}

.textAreaInput:focus{
  background-color: #DAD7CD;
}

#continueBtn{
  background: #A3B18A;
  border: #A3B18A;
  color: #F5F5F5;
  border-radius: 12px;
  padding: 0.75em;
}

#previousBtn{
  background: #344E41;
  border: #344E41;
  color: #F5F5F5;
  border-radius: 12px;
  padding: 0.75em;

}

