* {
  padding: 0;
  margin: 0;
}
.society-paper{
  background-color: #DAD7CD;
  
}

.observations-screen{
  background-color: #CAC6B9;
}

.monserrat-semi-bold{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #222020
}

.monserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #222020;
}

#custom-nav{
  border-bottom: #939189 solid;
}

.share-btn{
  background: #A3B18A;
  border: #A3B18A;
  color: #F5F5F5;
  padding: 0.5em 2.5em;

}

.share-btn:hover {
  background: #c6d7a7;
  transtion: 0.7s;
}

.share-icon{
  color:#F5F5F5;
  margin-right: 10px;
}

.files-folder{
  width: 16em;
   height: 18em;
 }

 body{
  height: 100vh;
  background: linear-gradient(
    to right,
    #DAD7CD 0%,
    #DAD7CD 50%,
    #CAC6B9 50%,
    #CAC6B9 100%


  );
 }
 